<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Grid Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="4" sizeLg="6">
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, qui? Ut, dolorum? Voluptates labore
          sapiente magnam! Obcaecati provident fugit a, autem quo magnam, eos cum atque aperiam qui est. Totam?
        </div>
      </ion-col>
      <ion-col size="12" sizeMd="8" sizeLg="6">
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, qui? Ut, dolorum? Voluptates labore
          sapiente magnam! Obcaecati provident fugit a, autem quo magnam, eos cum atque aperiam qui est. Totam?
        </div>
      </ion-col>
    </ion-row>
    <br>
    <br>
    <ion-row>
      <ion-col size="12" sizeLg="3">
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, qui? Ut, dolorum? Voluptates labore
          sapiente magnam! Obcaecati provident fugit a, autem quo magnam, eos cum atque aperiam qui est. Totam?
        </div>
      </ion-col>
      <ion-col size="12" sizeLg="3"></ion-col>
      <ion-col size="12" sizeLg="3" pullLg="1">
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, qui? Ut, dolorum? Voluptates labore
          sapiente magnam! Obcaecati provident fugit a, autem quo magnam, eos cum atque aperiam qui est. Totam?
        </div>
      </ion-col>

    </ion-row>



  </ion-grid>
</ion-content>