<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Badges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-badge color="primary">11</ion-badge>
  <br>
  <ion-badge color="secondary">22</ion-badge>
  <br>
  <ion-badge color="tertiary">33</ion-badge>
  <br>
  <ion-item>
    <ion-badge slot="start">11</ion-badge>
    <ion-label>My Item</ion-label>
    <ion-badge slot="end">22</ion-badge>
  </ion-item>
  <br>
  <ion-button size="small" color="danger">
    Cantidad de dinero
    <ion-badge color="danger" slot="end">30€</ion-badge>
  </ion-button>

</ion-content>
