<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="openMenu()" style="font-size: 30px;" name="menu"></ion-icon>
    </ion-buttons>

    <ion-title>
      Componentes App
    </ion-title>


  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item (click)="goToActionSheetConID()">
      <ion-label>Perfil Cané</ion-label>
    </ion-item>

    <ion-item (click)="goToPage('action-sheet')">
      <ion-label>Action Sheet</ion-label>
    </ion-item>

    <ion-item (click)="goToPage('alert')">
      <ion-label>Alertas</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('badge')">
      <ion-label>Badges</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('buttons')">
      <ion-label>Botones</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('cards')">
      <ion-label>Cards</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('checkboxs')">
      <ion-label>Checkboxs</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('ion-chip')">
      <ion-label>Ion Chip</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('ion-datetime')">
      <ion-label>Ion Date Time</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('ion-picker')">
      <ion-label>Ion Picker</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('fab-button')">
      <ion-label>Floating Action Button</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('grid')">
      <ion-label>Grid</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('infinite-scroll')">
      <ion-label>Infinite Scroll</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('inputs')">
      <ion-label>Ion Input & Ion Textarea</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('listas-items')">
      <ion-label>Ion List & Ion Item</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('ion-virtual-scroll')">
      <ion-label>Ion Virtual Scroll</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('imagenes-iconos')">
      <ion-label>Imágenes e Íconos</ion-label>
    </ion-item>
    <ion-item (click)="goToPage('modal')">
      <ion-label>Modals</ion-label>
    </ion-item>

    <ion-item (click)="goToPage('popover')">
      <ion-label>Popover</ion-label>
    </ion-item>

    <ion-item (click)="goToPage('radio-button')">
      <ion-label>Radio Button</ion-label>
    </ion-item>

    <ion-item (click)="goToPage('range')">
      <ion-label>Range</ion-label>
    </ion-item>

    <ion-item (click)="goToPage('refresher')">
      <ion-label>Refresher</ion-label>
    </ion-item>

    <ion-item (click)="goToPage('reorder')">
      <ion-label>Reorder</ion-label>
    </ion-item>

    <ion-item (click)="goToPage('ion-searchbar')">
      <ion-label>Searchbar</ion-label>
    </ion-item>
  
    <ion-item (click)="goToPage('ion-segment')">
      <ion-label>Segment</ion-label>
    </ion-item>

    <ion-item (click)="goToPage('ion-select')">
      <ion-label>Select</ion-label>
    </ion-item>

    <ion-item (click)="goToPage('ion-slides')">
      <ion-label>Slides</ion-label>
    </ion-item>

    <ion-item (click)="goToPage('toogle')">
      <ion-label>Toogle</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
